body {
    font-family:  'Open Sans' ,'Segoe UI', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}
.container {
    width: 1000px;
    margin: auto;
}
.row {
    display: flex;
}
.rowcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner {
    background-image: url(https://templated.co/items/demos/fullmotion/images/pic05.jpg);
    height: 68vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.baner .over {
    height: 100%;
    width: 100%;
    background-color: #333333ab;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.baner .text-had {
    position: absolute;
    color: #fff;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    width: 400px;
}
.baner .text-had h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 4em;
}
.mein {
    background-color: #333;
    padding-top: 60px;
}
.mein .box-one {
    display: flex;
    flex-wrap: wrap;
}
.mein .box {
    background-color: #2c2c32;
    width: 31%;
    margin-left: 22px;
    margin-bottom: 50px;
}
.mein .box .box-img img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.mein .box .text-box {
    text-align: center;
    color: #fff;
    padding: 10px;
}
.mein .box .text-box .text-had {
    font-weight: bolder;
    font-size: 17px;
}
.mein .box .text-box button {
    border: none;
    outline: none;
    width: 100%;
    padding: 6px;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #49a24c;
    cursor: pointer;
    border-radius: 8px;
}
.foot {
    background-color: #212020;
    padding: 20px;
}
.foot  .text-foot .text-one {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.foot .text-foot .text-two {
    color: #fff;
    text-align: center;
    font-size: revert;
}
.foot .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot .icon ul {
    display: flex;
    list-style: none;
}
.foot .icon ul li {
    margin-left: 16px;
}
.foot .icon ul li a {
    color: #fff;
}